@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700;800&family=Roboto:wght@400;700&display=swap');

*{
    margin: 0;
    padding: 0;
    outline: none;
}

body{
    font-family:"Open Sans", sans-serif;
    background: white;
    color: black;
    line-height: 1.5;
    font-size: 0.8rem;
    position: relative;
   
}

section{
    padding: 0 20px;
    width: 75vw;
    margin: 0 auto;
}
button{
  background: transparent;
  border: none;
}

ul{
    list-style-type: none ;
    
}

a{
    text-decoration: none;
}

h1, h2{
    padding: 20px;
    
   letter-spacing: 0.1rem;
   text-transform: capitalize;
   line-height: 1.25;
   margin-bottom: 0.75rem;
   font-family: "Roboto", sans-serif;
}
a{
   color: skyblue;
}

h1{
    font-size: 3rem;
}

h2{
    font-size: 2rem;
}

h3{
    font-size: 1.25rem;
}

h4{
    font-size: 0.8rem;
}



.logo{
    height: 50px;
}

.nav-center {
    background: white;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
    width: 85vw;
    transition: all 0.5s ease-in;
}

.nav-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
   
}

.nav-toggle {
    font-size: 1.5rem;
    color: hsl(205, 78%, 60%);
    background: transparent;
    border-color: transparent;
    cursor: pointer;
}

.links a:hover{
    background: hsl(205, 86%, 81%);
    padding: 0;
    background: transparent;
 }

.links{
    height: auto;
    transition: all 0.5s linear;
}


.links a{
    color: grey;
    font-size: 1.2rem;
    text-transform: capitalize;
    display: block;
    transition: all 0.3s linear;
    padding: 0;
    margin: 0 0.6rem;
    letter-spacing: .1rem;
}

.social-icon a {
    font-size: 2rem;
    margin: 0 0.5rem;
    color: hsl(205, 78%, 60%);
    transition: all 0.3;
}
.social-icon a:hover{
    color:hsl(205, 90%, 76%);
}



footer{
    
    display: flex;
}
.footer-left img{
    padding-top: 30px ;
    padding-left: 100px;
    width: 60%;
    display: flex;
    object-fit: contain;
}
.footer-left{
    background-color: #0590C8;
    flex:1 1 50%;
    padding: 20px;
}

.footer-right{
    display: flex;
    flex:1 1 50%;
    background-color: #00355A;
    padding: 20px;
}

.footer-menu{
   display: flex;
   color: white;
   padding: 10px;
   flex-wrap: wrap;
   
}
.footer-menu>li{
    margin:10px  20px;
    font-size: 18px;
}
.footer-menu__column{
    display: block;
    flex-direction: column;
    font-size: 16px;
   
    
 }
.footer-icon{
    display: flex;
    padding: 30px;
}

.footer-icon li{
   font-size: 25px;
    padding: 5px;
}
.hero{

    display: flex;
    margin-bottom: 40px;
    width: 85%;
    margin: 10px auto;
}

.hero img{
width: 75%;
object-fit: contain;
margin: 0 auto;
}
.hero-bg{
  display: flex;
   width: 100%;
  object-fit: fill;
}

.hero__content{
    background: url(./static/img/back-spot.jpg);
    display: flex;
   
}
.hero__content-about {
    position: relative;
    display: flex;
 }

 .hero__content p{

    font-size: 20px;
    margin-bottom: 1.25rem;
    font-weight: 500;
    letter-spacing: .04rem;
      
 }

.hero__content-btn img{
   border-radius: 25px;
   position: relative;
   width: 35vw;
   padding-left: 10px;
   margin-top: 150px;
}



.video-bg{
    background-color:black;
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 200;
    opacity: 0.7;
}



#video-close{
    color: red;
    position: sticky;
    top:0;
    
    padding:50px;
    font-size: 30px;
}



iframe{
    position: absolute;
    opacity: 1;
    z-index: 300;
    top:50%;
    left:50%;
    transform:translate(-50%, -50%);
    width: 80%;
    height: 45vw;
    
}

#youtube{
    position: absolute;
    
}

.hero__details {
   position: relative; 
    
 }
.hero__details ul {
   display: flex;
   justify-content: center;
   padding: 50px 0;
}


.hero__details  li{
    margin: 25px  25px  0 0;
    font-size: 23px;
    font-weight: 500;
    transition: all 0.3s ease-in;
   
 }
 


 .hero__details ul .active{
   
    color: skyblue;
     border-bottom: 1px solid skyblue ;
 }

.hero__details-img{
    position: relative;
    width: 100%;
    display: none;
  
}

.active{
    display: flex;
}

.hero__details-img img{
    object-fit: contain;
    width: 70vw;
    margin-left: auto;
    margin-right: auto;
    vertical-align: middle;

}



@keyframes bounce {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.5);
    }
    100% {
        transform: scale(1);
    }
}

    @media screen and (min-width: 900px){
        
        .nav-center{
            
            margin: 0 auto;
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding: 1rem;
        }

        .nav-header{
            padding: 0;
        }

        .nav-toggle{
           display: none; 
        }


        .links{
            
            display: flex;
            transition: all 0.3s linear;
        }


        .links a{
            
            display: block;
            transition: all 0.3s linear;
            
        }

       
        .social-icon{
            display: flex;
        }
       
        
    }

    @media screen and (max-width: 1200px){
        .news-text{
            display: flex;
           flex-direction: column;
        }
        .news-text img{
            width: 80vw;
            object-fit: contain;
            margin: 0 auto;

        }
    }

    @media screen and (max-width: 900px){
    .nav-center{
        width: 100vw;
    }

    
    section{
            width: 95vw;
            margin: 0 auto;
        }


    .links
     {
         display: none;
     }

     .show-container{
        display: block;
    }

    

    .links{
        width: 500px;
    }

    .links a{
        transition: all 0.2s linear;
        padding: 10px 0;
    }
    .links a:hover{
        padding-left: 18px;
    }

    .preview-slide{
        width: 70vw;
    }
    .preview img{
        width: 70vw;
       
    }
    
    .preview-title{
        width: 30vw;
    }
    h1{
        font-size: 2.3rem;
        padding-bottom: 0px;
    }
    
    h2{
        font-size: 1.5rem;
    }

    .hero__content-about {
       display: flex;
       flex-direction: column;
     }
    .hero__content-about img{
       border-radius: 25px;
       position: relative;
       width: 80vw;
       margin: 0 auto;
    }

    iframe{
        position: absolute;
        opacity: 1;
        z-index: 300;
        top:30%;
        left:50%;
        transform:translate(-50%, -50%);
        width: 90%;
        height: 50vw;
        
    }

    .hero__details-img img{
        
        width: 100vw;
       
    
    }


    }